<?xml version="1.0" encoding="UTF-8"?>
<manifest>
	
  <project path="system/core" name="system_core" remote="legion" revision="11" />
  <project path="system/sepolicy" name="system_sepolicy" remote="legion" revision="11" />
  <project path="system/bt" name="system_bt" remote="legion" revision="11" />
	
</manifest>
